<section id="credits" class="text-center">
	<span class="social wow zoomIn">
	<a href="#"><i class="fa fa-facebook"></i></a>
	<a href="#"><i class="fa fa-twitter"></i></a>
	<a href="#"><i class="fa fa-skype"></i></a>
	<a href="#"><i class="fa fa-linkedin"></i></a>
	<a href="#"><i class="fa fa-pinterest"></i></a>
	<a href="#"><i class="fa fa-google-plus"></i></a>
	</span><br/>
	Copyright &copy; <a href="#">ReRasooi</a> 
	<br/>By team Sattvix <i class="fa fa-heart"></i> 
</section>


<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/waypoints.min.js"></script>
<script src="/assets/js/jquery.scrollTo.min.js"></script>
<script src="/assets/js/jquery.localScroll.min.js"></script>
<script src="/assets/js/jquery.magnific-popup.min.js"></script>
<script src="/assets/js/validate.js"></script>
<script src="/assets/js/common.js"></script>
</body>
<script>
  function validateForm() {
    let isValid = true;
    const nameInput = document.getElementById('name');
    const phoneInput = document.getElementById('phone_number');
    const emailInput = document.getElementById('email');

    // Validate Name
    if (!/^[a-zA-Z\s]{2,}$/.test(nameInput.value.trim())) {
      isValid = false;
      iziToast.error({
        title: 'Error',
        message: 'Please enter a valid name (at least 2 characters, letters only)',
        position: 'topRight'
      });
      nameInput.focus();
      return false;
    }

    // Validate Phone Number (assuming a 10-digit format)
    if (!/^\d{10}$/.test(phoneInput.value.trim())) {
      isValid = false;
      iziToast.error({
        title: 'Error',
        message: 'Please enter a valid 10-digit phone number',
        position: 'topRight'
      });
      phoneInput.focus();
      return false;
    }

    // Validate Email
    if (!/^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(emailInput.value.trim())) {
      isValid = false;
      iziToast.error({
        title: 'Error',
        message: 'Please enter a valid email address',
        position: 'topRight'
      });
      emailInput.focus();
      return false;
    }

    return isValid;
  }

  document.querySelector('form').addEventListener('submit', function(e) {
	// alert('yess');
    if (!validateForm()) {
      e.preventDefault();
    }
  });
</script>
</html>