<section class="parallax section" style="background-image: url(/img/testimonials.jpeg);">
	<div class="wrapsection" style="
    background-color: rgba(96, 87, 87, 0.51);
">
	<div class="parallax-overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-12 sol-sm-12">
				<div class="maintitle">
					<h3 class="section-title justtitle">Participation is everything</h3>
					<p class="lead bottom0 wow bounceInUp">
						Fusce fermentum lectus id turpis suscipit, ut egestas magna volutpat. Donec a purus tellus. Nunc ut dolor eu est gravida auctor quis vitae.
					</p>
				</div>
			</div>
		</div>
	</div>
	</div>
</section>